*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
/*CSS Variables*/

:root{
    --navbar-height: 59px;
}

#navbar{
    display: flex;
    align-items: center; /*Centers the content vertically*/
    position:sticky;
    top:0px;
    
}

/*Navigation bar: Logo and Image*/
#logo{

margin: 0px 43px;


 
}

#logo img{
    height: 77px;
   
}
/*Navigation bar: List Styling*/


/*Its a psedu selector. use it always for putting a background!*/
#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity: .8;
}

#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    display: flex;
}
#navbar ul li a{
    color:white;
    list-style: none;
    font-size: 1.3rem;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
}

#navbar ul li a:hover{
    color:black;
    background-color: white;
}


/*Home Section*/

#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 306px;
    margin:35px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content:"";
    background: url('/static/bg1.jpg') no-repeat center center/cover; 
    position: absolute;
    top:0px;
    left: 0px;
    height: 75%;
    width: 100%;
    z-index:-1;
    opacity: .89;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Cairo', sans-serif;

}
#home p{
    color:white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Cairo', sans-serif;
    
}
/*Serices/Projects*/
#services{
    margin:34;
    display:flex;
}

#services .box{
    border:2px solid white;
    padding:33px;
    margin:3px 6px;
    border-radius: 23px;
    background-color: black;

}

#services .box img{
    display:block;
    margin:auto;
    height:156px;
}


/*Utility Class*/
.center{
    text-align: center;
}
.h-primary{
    font-size: 2.8rem;
    padding:12px;
    font-family: 'Cairo', sans-serif;

}
.h-secondary{
    font-size: 1.8rem;
    padding:12px;
    text-align: center ;
    color:white;
    font-family: 'Cairo', sans-serif;

}
.box p{
    font-family: 'Cairo', sans-serif;
    color:white;
  
}
.btn{
    padding: 5px 26px;
    border:2px solid white;
    background-color: transparent;
    color:white;
    margin:17px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}


/*Client Section*/
#client-section{
    position: relative;
    height: 344px;
    z-index: -1;
}
#client-section::before{
    content:"";
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity: .89; 
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 61px;
}
.client-item{
    padding:50px;
    z-index: -1;
}


/*contact section*/
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
   /* opacity: 0.7;*/
    background-color: black;
}

/*Form*/
#contact-box{
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width:40%;

}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Cairo', sans-serif;
    
}
#contact h1{
    color:white;
}

footer{
    background-color: white;
    border: 2px solid black;
    color: black;
    padding:9px 20px;
} 